<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
</head>

<body>


    <section id="login-form" style="margin-top: 200px">
        <div class="noi-dung">
            <div class="form">
                <h2>Đăng nhập</h2>
                <div th:if = "${param.error}" class="alert alert-danger text-center">
                    Sai tài khoản hoặc mật khẩu
                </div>
                <div th:if = "${param.logout}" class="alert alert-success text-center">
                    You have been logged out!
                </div>
                <form th:action="@{/do-login}" method="post">
                    <div class="input-form">
                        <input type="text" placeholder="Tài khoản" name="username" required>
                    </div>
                    <div class="input-form">
                        <input type="password" placeholder="Mật khẩu" name="password">
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Đăng nhập">
                    </div>
                    <div class="input-form">
                        <p>Chưa có tài khoản? <a th:href="@{/register}">Đăng ký  </a></p>
                    </div>
                </form>

            </div>
        </div>

    </section>

    </section>



</body>

</html>