<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head>
    <div th:replace="~{fragments::head}"></div>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" th:src="'data:image/jpeg;base64,' + ${productDetail.image}"
                                 alt="First slide"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <form th:action="@{/add-to-cart}" method="post">
                    <div class="single-product-details">
                        <h2 th:text="${productDetail.name}"></h2>
                        <h5 th:text="'$' + ${productDetail.costPrice}"></h5>
                        <h4>Mô tả:</h4>
                        <p th:text="${productDetail.description}"></p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <input type="hidden" th:value="${productDetail.id}" name="id" class="form-control">
                                <input type="submit" class="btn hvr-hover" value="Thêm vào giỏ hàng">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- End Cart -->


<!--    comment-->
<div class="container" style="position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 550px;">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v18.0&appId=950888472759774" nonce="OUEqLQKj"></script>
    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div>
</div>
<!--    end comment-->
<div th:replace="~{fragments::script}"></div>
</body>

</html>